<%- model_class = Album -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= link_to album.id, album_path(album) %></td>
        <td><%= album.title %></td>
        <td><%= album.year %></td>
        <td><%=l album.created_at %></td>
        <td>
           <%= link_to t('.show', :default => t("helpers.links.show")),
                      album_path(album), :class => 'btn btn-success btn-xs' %>
        </td>
      </tr>
    <% end %>
    <% if @albums_message %> 
      <tr><td colspan=42 class='text-center'><%= @albums_message %></td></tr>
    <% end %>
  </tbody>
</table>

